<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B</key>
	<dict>
		<key>Germandbls</key>
		<integer>10</integer>
		<key>napostrophe</key>
		<integer>20</integer>
		<key>public.kern2.J</key>
		<integer>10</integer>
		<key>public.kern2.T</key>
		<integer>-10</integer>
		<key>public.kern2.punctuation</key>
		<integer>-10</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-10</integer>
	</dict>
	<key>Eopen</key>
	<dict>
		<key>napostrophe</key>
		<integer>40</integer>
		<key>public.kern2.f</key>
		<integer>10</integer>
		<key>public.kern2.punctuation</key>
		<integer>-10</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-20</integer>
	</dict>
	<key>Germandbls</key>
	<dict>
		<key>napostrophe</key>
		<integer>20</integer>
		<key>public.kern2.T</key>
		<integer>-10</integer>
		<key>public.kern2.punctuation</key>
		<integer>-10</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-30</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>Eopen</key>
		<integer>10</integer>
		<key>Germandbls</key>
		<integer>10</integer>
		<key>germandbls</key>
		<integer>10</integer>
		<key>lslash</key>
		<integer>10</integer>
		<key>mu.math</key>
		<integer>10</integer>
		<key>napostrophe</key>
		<integer>70</integer>
		<key>public.kern2.S</key>
		<integer>10</integer>
		<key>public.kern2.X</key>
		<integer>-10</integer>
		<key>public.kern2.Z</key>
		<integer>-10</integer>
		<key>public.kern2.a</key>
		<integer>-10</integer>
		<key>public.kern2.c</key>
		<integer>-10</integer>
		<key>public.kern2.g</key>
		<integer>-10</integer>
		<key>public.kern2.punctuation</key>
		<integer>-10</integer>
		<key>public.kern2.t</key>
		<integer>10</integer>
		<key>public.kern2.v</key>
		<integer>10</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>10</integer>
		<key>z</key>
		<integer>10</integer>
		<key>zacute</key>
		<integer>10</integer>
		<key>zcaron</key>
		<integer>10</integer>
		<key>zdotaccent</key>
		<integer>10</integer>
		<key>zdotaccentbelow</key>
		<integer>10</integer>
	</dict>
	<key>Thorn</key>
	<dict>
		<key>Schwa</key>
		<integer>10</integer>
		<key>napostrophe</key>
		<integer>20</integer>
		<key>public.kern2.B</key>
		<integer>-10</integer>
		<key>public.kern2.X</key>
		<integer>-10</integer>
		<key>public.kern2.a</key>
		<integer>-10</integer>
		<key>public.kern2.f</key>
		<integer>10</integer>
		<key>public.kern2.g</key>
		<integer>10</integer>
		<key>public.kern2.punctuation</key>
		<integer>-10</integer>
		<key>public.kern2.s</key>
		<integer>10</integer>
		<key>public.kern2.t</key>
		<integer>10</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-20</integer>
	</dict>
	<key>colon</key>
	<dict>
		<key>Eopen</key>
		<integer>10</integer>
		<key>Germandbls</key>
		<integer>10</integer>
		<key>Schwa</key>
		<integer>10</integer>
		<key>mu.math</key>
		<integer>10</integer>
		<key>public.kern2.A</key>
		<integer>10</integer>
		<key>public.kern2.B</key>
		<integer>10</integer>
		<key>public.kern2.C</key>
		<integer>10</integer>
		<key>public.kern2.J</key>
		<integer>10</integer>
		<key>public.kern2.S</key>
		<integer>10</integer>
		<key>public.kern2.V</key>
		<integer>10</integer>
		<key>public.kern2.X</key>
		<integer>10</integer>
		<key>public.kern2.Z</key>
		<integer>10</integer>
		<key>public.kern2.a</key>
		<integer>10</integer>
		<key>public.kern2.b</key>
		<integer>10</integer>
		<key>public.kern2.c</key>
		<integer>10</integer>
		<key>public.kern2.s</key>
		<integer>10</integer>
		<key>x</key>
		<integer>10</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>Eopen</key>
		<integer>10</integer>
		<key>Germandbls</key>
		<integer>10</integer>
		<key>Schwa</key>
		<integer>10</integer>
		<key>mu.math</key>
		<integer>10</integer>
		<key>public.kern2.A</key>
		<integer>10</integer>
		<key>public.kern2.B</key>
		<integer>10</integer>
		<key>public.kern2.C</key>
		<integer>10</integer>
		<key>public.kern2.J</key>
		<integer>10</integer>
		<key>public.kern2.S</key>
		<integer>10</integer>
		<key>public.kern2.U</key>
		<integer>10</integer>
		<key>public.kern2.V</key>
		<integer>10</integer>
		<key>public.kern2.X</key>
		<integer>10</integer>
		<key>public.kern2.Z</key>
		<integer>10</integer>
		<key>public.kern2.a</key>
		<integer>10</integer>
		<key>public.kern2.b</key>
		<integer>10</integer>
		<key>public.kern2.c</key>
		<integer>10</integer>
		<key>public.kern2.s</key>
		<integer>10</integer>
		<key>x</key>
		<integer>10</integer>
	</dict>
	<key>dcroat</key>
	<dict>
		<key>lslash</key>
		<integer>10</integer>
		<key>napostrophe</key>
		<integer>20</integer>
		<key>public.kern2.S</key>
		<integer>10</integer>
	</dict>
	<key>eopen</key>
	<dict>
		<key>Schwa</key>
		<integer>10</integer>
		<key>public.kern2.A</key>
		<integer>30</integer>
		<key>public.kern2.C</key>
		<integer>10</integer>
		<key>public.kern2.J</key>
		<integer>20</integer>
		<key>public.kern2.X</key>
		<integer>10</integer>
	</dict>
	<key>eth</key>
	<dict>
		<key>napostrophe</key>
		<integer>10</integer>
		<key>public.kern2.T</key>
		<integer>-60</integer>
		<key>public.kern2.V</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-10</integer>
	</dict>
	<key>germandbls</key>
	<dict>
		<key>napostrophe</key>
		<integer>10</integer>
		<key>public.kern2.S</key>
		<integer>10</integer>
		<key>public.kern2.s</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-10</integer>
	</dict>
	<key>kgreenlandic</key>
	<dict>
		<key>napostrophe</key>
		<integer>30</integer>
		<key>public.kern2.T</key>
		<integer>-30</integer>
		<key>public.kern2.a</key>
		<integer>-20</integer>
		<key>public.kern2.c</key>
		<integer>-10</integer>
		<key>public.kern2.u</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>lcaron</key>
	<dict>
		<key>Eopen</key>
		<integer>30</integer>
		<key>Germandbls</key>
		<integer>20</integer>
		<key>Schwa</key>
		<integer>30</integer>
		<key>Zdotaccent</key>
		<integer>30</integer>
		<key>germandbls</key>
		<integer>20</integer>
		<key>mu.math</key>
		<integer>10</integer>
		<key>napostrophe</key>
		<integer>110</integer>
		<key>public.kern2.A</key>
		<integer>20</integer>
		<key>public.kern2.B</key>
		<integer>10</integer>
		<key>public.kern2.C</key>
		<integer>30</integer>
		<key>public.kern2.J</key>
		<integer>40</integer>
		<key>public.kern2.S</key>
		<integer>50</integer>
		<key>public.kern2.T</key>
		<integer>100</integer>
		<key>public.kern2.U</key>
		<integer>10</integer>
		<key>public.kern2.V</key>
		<integer>90</integer>
		<key>public.kern2.X</key>
		<integer>90</integer>
		<key>public.kern2.Z</key>
		<integer>60</integer>
		<key>public.kern2.a</key>
		<integer>10</integer>
		<key>public.kern2.b</key>
		<integer>20</integer>
		<key>public.kern2.f</key>
		<integer>10</integer>
		<key>public.kern2.s</key>
		<integer>10</integer>
		<key>public.kern2.t</key>
		<integer>50</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>10</integer>
		<key>z</key>
		<integer>10</integer>
		<key>zacute</key>
		<integer>10</integer>
		<key>zcaron</key>
		<integer>10</integer>
		<key>zdotaccent</key>
		<integer>10</integer>
		<key>zdotaccentbelow</key>
		<integer>30</integer>
	</dict>
	<key>ldot</key>
	<dict>
		<key>Schwa</key>
		<integer>20</integer>
		<key>eth</key>
		<integer>10</integer>
		<key>lslash</key>
		<integer>20</integer>
		<key>napostrophe</key>
		<integer>30</integer>
		<key>public.kern2.A</key>
		<integer>10</integer>
		<key>public.kern2.B</key>
		<integer>-20</integer>
		<key>public.kern2.C</key>
		<integer>10</integer>
		<key>public.kern2.J</key>
		<integer>10</integer>
		<key>public.kern2.S</key>
		<integer>20</integer>
		<key>public.kern2.T</key>
		<integer>-10</integer>
		<key>public.kern2.V</key>
		<integer>10</integer>
		<key>public.kern2.a</key>
		<integer>10</integer>
		<key>public.kern2.c</key>
		<integer>10</integer>
		<key>public.kern2.g</key>
		<integer>10</integer>
		<key>public.kern2.t</key>
		<integer>20</integer>
		<key>public.kern2.u</key>
		<integer>10</integer>
		<key>z</key>
		<integer>10</integer>
		<key>zdotaccent</key>
		<integer>10</integer>
	</dict>
	<key>lslash</key>
	<dict>
		<key>Schwa</key>
		<integer>20</integer>
		<key>napostrophe</key>
		<integer>20</integer>
		<key>public.kern2.J</key>
		<integer>10</integer>
		<key>public.kern2.S</key>
		<integer>10</integer>
		<key>yogh</key>
		<integer>-10</integer>
	</dict>
	<key>mu.math</key>
	<dict>
		<key>eopen</key>
		<integer>-10</integer>
		<key>napostrophe</key>
		<integer>20</integer>
		<key>public.kern2.T</key>
		<integer>-60</integer>
		<key>public.kern2.punctuation</key>
		<integer>-10</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-30</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>Eopen</key>
		<integer>10</integer>
		<key>Germandbls</key>
		<integer>10</integer>
		<key>Schwa</key>
		<integer>10</integer>
		<key>mu.math</key>
		<integer>10</integer>
		<key>public.kern2.A</key>
		<integer>10</integer>
		<key>public.kern2.B</key>
		<integer>10</integer>
		<key>public.kern2.C</key>
		<integer>10</integer>
		<key>public.kern2.J</key>
		<integer>10</integer>
		<key>public.kern2.S</key>
		<integer>10</integer>
		<key>public.kern2.U</key>
		<integer>10</integer>
		<key>public.kern2.V</key>
		<integer>10</integer>
		<key>public.kern2.X</key>
		<integer>10</integer>
		<key>public.kern2.Z</key>
		<integer>10</integer>
		<key>public.kern2.a</key>
		<integer>10</integer>
		<key>public.kern2.b</key>
		<integer>10</integer>
		<key>public.kern2.c</key>
		<integer>10</integer>
		<key>public.kern2.s</key>
		<integer>10</integer>
		<key>x</key>
		<integer>10</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>eopen</key>
		<integer>-10</integer>
		<key>lslash</key>
		<integer>10</integer>
		<key>napostrophe</key>
		<integer>10</integer>
		<key>public.kern2.S</key>
		<integer>10</integer>
		<key>public.kern2.U</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.C</key>
	<dict>
		<key>lslash</key>
		<integer>10</integer>
		<key>napostrophe</key>
		<integer>40</integer>
		<key>public.kern2.t</key>
		<integer>10</integer>
		<key>yogh</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.E</key>
	<dict>
		<key>lslash</key>
		<integer>10</integer>
		<key>napostrophe</key>
		<integer>20</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>z</key>
		<integer>10</integer>
		<key>zacute</key>
		<integer>10</integer>
		<key>zcaron</key>
		<integer>10</integer>
		<key>zdotaccent</key>
		<integer>10</integer>
		<key>zdotaccentbelow</key>
		<integer>10</integer>
	</dict>
	<key>public.kern1.H</key>
	<dict>
		<key>napostrophe</key>
		<integer>10</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.L</key>
	<dict>
		<key>lslash</key>
		<integer>10</integer>
		<key>napostrophe</key>
		<integer>20</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-10</integer>
		<key>zcaron</key>
		<integer>10</integer>
		<key>zdotaccent</key>
		<integer>10</integer>
		<key>zdotaccentbelow</key>
		<integer>10</integer>
	</dict>
	<key>public.kern1.O</key>
	<dict>
		<key>eopen</key>
		<integer>-10</integer>
		<key>napostrophe</key>
		<integer>40</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>10</integer>
		<key>zacute</key>
		<integer>10</integer>
		<key>zcaron</key>
		<integer>10</integer>
		<key>zdotaccent</key>
		<integer>10</integer>
		<key>zdotaccentbelow</key>
		<integer>10</integer>
	</dict>
	<key>public.kern1.R</key>
	<dict>
		<key>eopen</key>
		<integer>-10</integer>
		<key>eth</key>
		<integer>-10</integer>
		<key>napostrophe</key>
		<integer>30</integer>
		<key>public.kern2.a</key>
		<integer>-10</integer>
		<key>public.kern2.c</key>
		<integer>-10</integer>
		<key>public.kern2.g</key>
		<integer>-10</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>10</integer>
		<key>yogh</key>
		<integer>-30</integer>
		<key>z</key>
		<integer>10</integer>
		<key>zacute</key>
		<integer>10</integer>
		<key>zcaron</key>
		<integer>10</integer>
		<key>zdotaccent</key>
		<integer>10</integer>
		<key>zdotaccentbelow</key>
		<integer>10</integer>
	</dict>
	<key>public.kern1.S</key>
	<dict>
		<key>lslash</key>
		<integer>10</integer>
		<key>napostrophe</key>
		<integer>50</integer>
		<key>public.kern2.A</key>
		<integer>10</integer>
		<key>public.kern2.a</key>
		<integer>10</integer>
		<key>public.kern2.s</key>
		<integer>10</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-10</integer>
		<key>z</key>
		<integer>10</integer>
		<key>zacute</key>
		<integer>10</integer>
		<key>zcaron</key>
		<integer>10</integer>
		<key>zdotaccent</key>
		<integer>10</integer>
		<key>zdotaccentbelow</key>
		<integer>10</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>eopen</key>
		<integer>-60</integer>
		<key>eth</key>
		<integer>-60</integer>
		<key>mu.math</key>
		<integer>-60</integer>
		<key>napostrophe</key>
		<integer>30</integer>
		<key>public.kern2.a</key>
		<integer>-60</integer>
		<key>public.kern2.c</key>
		<integer>-60</integer>
		<key>public.kern2.f</key>
		<integer>-20</integer>
		<key>public.kern2.g</key>
		<integer>-60</integer>
		<key>public.kern2.punctuation</key>
		<integer>-60</integer>
		<key>public.kern2.s</key>
		<integer>-60</integer>
		<key>public.kern2.t</key>
		<integer>-10</integer>
		<key>public.kern2.u</key>
		<integer>-60</integer>
		<key>public.kern2.v</key>
		<integer>-10</integer>
		<key>semicolon</key>
		<integer>-60</integer>
		<key>thorn</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-10</integer>
		<key>z</key>
		<integer>-10</integer>
		<key>zacute</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.U</key>
	<dict>
		<key>eopen</key>
		<integer>-30</integer>
		<key>public.kern2.A</key>
		<integer>-10</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.V</key>
	<dict>
		<key>eopen</key>
		<integer>-10</integer>
		<key>eth</key>
		<integer>-10</integer>
		<key>napostrophe</key>
		<integer>30</integer>
		<key>public.kern2.a</key>
		<integer>-10</integer>
		<key>public.kern2.c</key>
		<integer>-10</integer>
		<key>public.kern2.g</key>
		<integer>-10</integer>
		<key>public.kern2.s</key>
		<integer>-10</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.XYK</key>
	<dict>
		<key>eopen</key>
		<integer>-10</integer>
		<key>napostrophe</key>
		<integer>40</integer>
		<key>semicolon</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.Z</key>
	<dict>
		<key>napostrophe</key>
		<integer>40</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.a</key>
	<dict>
		<key>Eopen</key>
		<integer>-10</integer>
		<key>Zdotaccent</key>
		<integer>10</integer>
		<key>eth</key>
		<integer>-10</integer>
		<key>public.kern2.T</key>
		<integer>-60</integer>
		<key>public.kern2.t</key>
		<integer>-10</integer>
		<key>public.kern2.u</key>
		<integer>-10</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>thorn</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-50</integer>
		<key>z</key>
		<integer>10</integer>
		<key>zacute</key>
		<integer>10</integer>
		<key>zcaron</key>
		<integer>10</integer>
		<key>zdotaccent</key>
		<integer>10</integer>
		<key>zdotaccentbelow</key>
		<integer>10</integer>
	</dict>
	<key>public.kern1.b</key>
	<dict>
		<key>napostrophe</key>
		<integer>10</integer>
		<key>public.kern2.J</key>
		<integer>10</integer>
		<key>public.kern2.T</key>
		<integer>-60</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-30</integer>
		<key>zacute</key>
		<integer>10</integer>
		<key>zcaron</key>
		<integer>10</integer>
		<key>zdotaccent</key>
		<integer>10</integer>
		<key>zdotaccentbelow</key>
		<integer>10</integer>
	</dict>
	<key>public.kern1.c</key>
	<dict>
		<key>napostrophe</key>
		<integer>10</integer>
		<key>public.kern2.J</key>
		<integer>10</integer>
		<key>public.kern2.T</key>
		<integer>-60</integer>
		<key>public.kern2.Z</key>
		<integer>-10</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>10</integer>
		<key>zacute</key>
		<integer>10</integer>
		<key>zcaron</key>
		<integer>10</integer>
		<key>zdotaccent</key>
		<integer>10</integer>
		<key>zdotaccentbelow</key>
		<integer>10</integer>
	</dict>
	<key>public.kern1.f</key>
	<dict>
		<key>Eopen</key>
		<integer>10</integer>
		<key>napostrophe</key>
		<integer>50</integer>
		<key>public.kern2.J</key>
		<integer>10</integer>
		<key>public.kern2.S</key>
		<integer>10</integer>
		<key>public.kern2.T</key>
		<integer>10</integer>
		<key>public.kern2.c</key>
		<integer>-10</integer>
		<key>public.kern2.s</key>
		<integer>-10</integer>
		<key>semicolon</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.g</key>
	<dict>
		<key>eopen</key>
		<integer>-10</integer>
		<key>napostrophe</key>
		<integer>40</integer>
		<key>public.kern2.J</key>
		<integer>10</integer>
		<key>public.kern2.T</key>
		<integer>-30</integer>
		<key>semicolon</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.h</key>
	<dict>
		<key>eopen</key>
		<integer>-10</integer>
		<key>napostrophe</key>
		<integer>10</integer>
		<key>public.kern2.T</key>
		<integer>-60</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.i</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.k</key>
	<dict>
		<key>eopen</key>
		<integer>-10</integer>
		<key>mu.math</key>
		<integer>-10</integer>
		<key>napostrophe</key>
		<integer>30</integer>
		<key>public.kern2.T</key>
		<integer>-30</integer>
		<key>public.kern2.a</key>
		<integer>-20</integer>
		<key>public.kern2.c</key>
		<integer>-10</integer>
		<key>public.kern2.g</key>
		<integer>-10</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.s</key>
	<dict>
		<key>napostrophe</key>
		<integer>10</integer>
		<key>public.kern2.B</key>
		<integer>-10</integer>
		<key>public.kern2.S</key>
		<integer>10</integer>
		<key>public.kern2.T</key>
		<integer>-60</integer>
		<key>public.kern2.V</key>
		<integer>-20</integer>
		<key>public.kern2.b</key>
		<integer>-10</integer>
		<key>public.kern2.punctuation</key>
		<integer>-10</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-40</integer>
		<key>z</key>
		<integer>10</integer>
		<key>zacute</key>
		<integer>10</integer>
		<key>zcaron</key>
		<integer>10</integer>
		<key>zdotaccent</key>
		<integer>10</integer>
		<key>zdotaccentbelow</key>
		<integer>10</integer>
	</dict>
	<key>public.kern1.t</key>
	<dict>
		<key>Schwa</key>
		<integer>10</integer>
		<key>public.kern2.S</key>
		<integer>10</integer>
		<key>public.kern2.T</key>
		<integer>-10</integer>
		<key>public.kern2.punctuation</key>
		<integer>-10</integer>
		<key>public.kern2.t</key>
		<integer>-20</integer>
		<key>public.kern2.u</key>
		<integer>-10</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>10</integer>
		<key>yogh</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.u</key>
	<dict>
		<key>Schwa</key>
		<integer>10</integer>
		<key>eopen</key>
		<integer>-10</integer>
		<key>napostrophe</key>
		<integer>10</integer>
		<key>public.kern2.T</key>
		<integer>-60</integer>
		<key>public.kern2.punctuation</key>
		<integer>-10</integer>
		<key>semicolon</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-50</integer>
		<key>z</key>
		<integer>10</integer>
		<key>zacute</key>
		<integer>10</integer>
		<key>zcaron</key>
		<integer>10</integer>
		<key>zdotaccent</key>
		<integer>10</integer>
		<key>zdotaccentbelow</key>
		<integer>10</integer>
	</dict>
	<key>public.kern1.v</key>
	<dict>
		<key>eopen</key>
		<integer>-10</integer>
		<key>public.kern2.T</key>
		<integer>-10</integer>
		<key>public.kern2.a</key>
		<integer>-10</integer>
		<key>yogh</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.z</key>
	<dict>
		<key>Schwa</key>
		<integer>10</integer>
		<key>lslash</key>
		<integer>10</integer>
		<key>napostrophe</key>
		<integer>20</integer>
		<key>public.kern2.T</key>
		<integer>-10</integer>
		<key>public.kern2.a</key>
		<integer>10</integer>
		<key>public.kern2.c</key>
		<integer>10</integer>
		<key>z</key>
		<integer>10</integer>
		<key>zacute</key>
		<integer>10</integer>
		<key>zcaron</key>
		<integer>10</integer>
		<key>zdotaccent</key>
		<integer>10</integer>
		<key>zdotaccentbelow</key>
		<integer>10</integer>
	</dict>
	<key>semicolon</key>
	<dict>
		<key>Eopen</key>
		<integer>10</integer>
		<key>Germandbls</key>
		<integer>10</integer>
		<key>Schwa</key>
		<integer>10</integer>
		<key>mu.math</key>
		<integer>10</integer>
		<key>public.kern2.A</key>
		<integer>10</integer>
		<key>public.kern2.B</key>
		<integer>10</integer>
		<key>public.kern2.C</key>
		<integer>10</integer>
		<key>public.kern2.J</key>
		<integer>10</integer>
		<key>public.kern2.S</key>
		<integer>10</integer>
		<key>public.kern2.U</key>
		<integer>10</integer>
		<key>public.kern2.V</key>
		<integer>10</integer>
		<key>public.kern2.X</key>
		<integer>10</integer>
		<key>public.kern2.Z</key>
		<integer>10</integer>
		<key>public.kern2.a</key>
		<integer>10</integer>
		<key>public.kern2.b</key>
		<integer>10</integer>
		<key>public.kern2.c</key>
		<integer>10</integer>
		<key>public.kern2.s</key>
		<integer>10</integer>
		<key>x</key>
		<integer>10</integer>
	</dict>
	<key>yogh</key>
	<dict>
		<key>Eopen</key>
		<integer>10</integer>
		<key>lslash</key>
		<integer>10</integer>
		<key>napostrophe</key>
		<integer>20</integer>
		<key>public.kern2.A</key>
		<integer>10</integer>
		<key>public.kern2.J</key>
		<integer>30</integer>
		<key>public.kern2.S</key>
		<integer>10</integer>
		<key>public.kern2.Z</key>
		<integer>20</integer>
	</dict>
</dict>
</plist>
